{
  "swagger": "2.0",
  "info": {
    "description": "1 Group 2 Group 3 Group 4 - Epidemic Scraper Documentation",
    "version": "1.0.0",
    "title": "Epidemic Scraper",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "TODO.COM",
  "basePath": "/v2",
  "tags": [
    {
      "name": "Search",
      "description": "Search function"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for articles",
        "description": "This endpoint allows users to search for articles",
        "operationId": "getSearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON data description",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "start_date": {
                  "type": "string",
                  "format": "date-time"
                },
                "end_date": {
                  "type": "string",
                  "format": "date-time"
                },
                "key_terms": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "location": {
                  "type": "string"
                }
              },
              "example": {
                "start_date": "2015-10-01T08:45:10",
                "end_date": "2015-11-01T19:37:12",
                "key_terms": ["Anthrax", "Zika"],
                "Location": "Sydney"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": "application/json",
            "schema": {
              "type": "object",
              "properties": {
                "article": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "date_of_publication": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "headline": {
                      "type": "string"
                    },
                    "main_text": {
                      "type": "string"
                    },
                    "reports": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "diseases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "syndromes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "event_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "location": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "place_id": {
                                  "type": "integer"
                                }
                              }
                            }
                          },
                          "parent_id": {
                            "type": "string"
                          },
                          "report_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "log": {
                  "type": "object",
                  "properties": {
                    "Team Name": {
                      "type": "string"
                    },
                    "Access Time": {
                      "type": "string"
                    },
                    "Data Source": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "article": {
                  "_id": "string",
                  "url": "string",
                  "date_of_publication": "datetime",
                  "headline": "string",
                  "main_text": "string",
                  "reports": [
                    {
                      "diseases": [],
                      "syndromes": [],
                      "event_date": "datetime",
                      "location": [
                        {
                          "places_id": 0
                        }
                      ],
                      "parent_id": "string",
                      "report_id": "string"
                    }
                  ]
                },
                "log": {
                  "Team Name": "SourDough",
                  "Access Time": "string",
                  "Data Source": "https://www.who.int/csr/don/en/"
                }
              }
            } 
          },
          "400": {
            "description": "Bad request"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": null
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "User login",
        "description": "This tests the API",
        "operationId": "postLogin",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON/XML data description",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestType"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": null
      }
    }
  },
  "securityDefinitions": {
    "test_auth": {
      "type": "oauth2",
      "authorizationUrl": "SOMEWHERE.com/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:test": "modify something in your account",
        "read:test": "read something"
      }
    }
  },
  "definitions": {
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Category"
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Tag"
      }
    },
    "TestType": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "category": {
          "$ref": "#/definitions/Category"
        },
        "name": {
          "type": "string",
          "example": "doggie"
        },
        "tags": {
          "type": "array",
          "xml": {
            "name": "tag",
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/Tag"
          }
        },
        "status": {
          "type": "string",
          "description": "enum status",
          "enum": [
            "available",
            "pending",
            "sold"
          ]
        }
      },
      "xml": {
        "name": "TestType"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}