.header {
  display: flex;
  align-items: center;
  padding: 5px;
  background: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: #282C34;
  position: sticky;
  min-height: min-content;
  top: 0px;
}

.photo {
    height: auto;
    width: auto;
    max-height: 100%;
    padding-right: 1%;
    object-fit: contain;
  }